@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Open+Sans:wght@400;500;600;700&display=swap");

:root {
    --white: #ffffff;
    --black: #000000;
    --black-gray: #353732;
    --gray: #45525b;

    --font-family-primary: "Open Sans", sans-serif;
    --font-family-secondary: "Montserrat", sans-serif;

    --font-size-primary: 18px;
    --font-size-secondary: 12px;

    --border: 1px solid #dcdcdc;
    --border-radius: 8px;
}

/* Dark Theme styles start */
html[data-theme="dark"] {
    --background-color: #282c35;
}
/* Dark Theme styles end */

/* Light Theme styles start */
html[data-theme="light"] {
    --background-color: #fafafa;
}
/* Light Theme styles end */

body {
    background-color: var(--background-color);
    transition: background-color 200ms linear;
}

.wrapper {
    width: 800px;
    height: calc(100vh - 160px);

    margin: 20px auto;
    padding: 0px 15px;

    border: 1px solid black;
}
